table{
    background-color: rgb(79, 182, 182);
    width:100%;
    margin-top: 25px;
}
table > *{
    background-color:rgb(226, 243, 236);
    border: 2px solid rgb(79, 182, 182);
    font-family: 'Roboto';
    font-size: 14pt;
}
header{
    position: sticky;
    top:0;
    background-color: white;
    margin-bottom: 15px;
    height: 240px;
}
h1{
    font-size: 30pt;
}
th{
    background-color: rgb(79, 182, 182);
    border: 2px solid rgb(79, 182, 182);
    position:sticky;
    top:240px;
    color:white;
    font-size:18pt;
}
td{
    color: black;
    padding: 15px;
}
tr:nth-child(even){
    background-color: white;
}
tr:hover{
    background-color: rgb(79, 182, 182);
}
ul{
    list-style-type: none;
    padding-left: 0px;
    width: 215px;
}
#years{
    width: 150px;
}
form button{
    margin-left: 10px;
}
div button{
    margin-top: 10px;
}
#years:hover, #award:hover, #titles:hover, #state:hover{
    font-size: 20pt;
}